@import "reset.css";
/*引入css文件的一种方式*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


 filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
 html
 	@media(min-width 1200px)
 		font-size 80Px!important
 body{
 	font-size: 16Px;
 }
 
body.active
	position fixed
	left 0
	right 0
	top 0
body
 	font-family 'PingFangSC'
input::placeholder
 	font-family 'Microsoft YaHei'
.full-screen
	width 100vw
	min-height 100vh
	overflow-y scroll
	background url('../img/1867522980157f183684db12ffcc04c7.jpg') center center/cover no-repeat
	&::-webkit-scrollbar
		display none
.header
	padding 0 26px
	height 64px
	font-size 20px
	color #fff
	line-height 64px
	background #2b6967
	box-shadow 0 4Px 4Px 0 rgba(0, 0, 0, 0.24), 0 0 4Px 0 rgba(0, 0, 0, 0.12)
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	align-items center
	justify-content flex-start
	a.back
		width 40px
		height 100%
		background url('../img/b7d754b44b03c831693164541fc6fb5f.png') left center/20px auto no-repeat
	h1
		padding-left 33px
		background url('../img/56d4acade51ddb957699cb0b66db9969.png') left center /auto 50% no-repeat
.manager-1
	.brand
		margin 84px auto 63px
		width 239px
		display block
		img
			width 100%
	h2
		padding 0 0 87px
		font-size 28px
		color #4a4a4a
		line-height 1
		text-align center
.manager-2
.manager-3
.manager-4
	h2
		padding 62px 0 39px
		font-size 28px
		color #4a4a4a
		text-align center	
.form
	&.pb21
		.row
			padding-bottom 21px
	.row
		padding-bottom 16px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		justify-content center
		flex-direction column
		&.pt36
			padding-top 36px
		&.hidden
			display none
		.input-wrap
			position relative
			max-width 606px
			width 75%
			@media(max-width 500px)
				width 90%
				max-width 100%
		.input-title
			max-width 606px
			width 75%
			padding-bottom 5px
			font-size 17px
			color #4a4a4a
			line-height 24px
			text-align left
			@media(max-width 500px)
				width 90%
				max-width 100%
			.en
				padding-left 8px
		.input
			width 100%
			box-sizing border-box
			padding 13px 18px 13px
			border-radius 12px
			font-size 20px
			color #a6a6a6
			line-height 28px
			background #fff
			border none
			outline none
			transition 0.3s
			&:focus
			&:hover
			&.active
				box-shadow 0 0 0 1Px #2b6967
			&::placeholder
				color #a6a6a6
		.submit
			color #fff
			background #2b6967
			font-weight 500
			cursor pointer
		.label
			font-size 17px
			color #4a4a4a
			line-height 25px
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content center
		.checkbox
			margin-right 15px
			width 25px
			height 25px
			appearance none
			background #fff
			border-radius 5px
			outline none
			&:checked
				background url('../img/178a25d73a1aa537a0abffe0f4c7c8df.png') center center/100% 100% no-repeat
		.top-right-icon
			position absolute
			top 0
			right 0
			width 54px
			height 54px
			background url('../img/c00872de696a50689fa3c07dd210f505.png') center center/100% 100% no-repeat
			&.drop-down
				background-image url('../img/c00872de696a50689fa3c07dd210f505.png')
			&.camera
				background-image url('../img/87e91df1852a97b94f110ddb5deb93bb.png')
			&.edit
				background-image url('../img/210b7a7413e97ba4948a8d3771ed8afa.png')
	.upload-input
		position relative
		&:after
			content attr(data-name)
			position absolute
			top 0
			bottom 0
			left 0
			right 0.54rem
			background #fff
			border-radius 12px
			font-size 20px
			padding 12px 18px
			color #a6a6a6
			line-height 28px
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
		&.active
			.input
				border-radius 12px 12px 0 0
			&+.upload
				display block
		.input
			border-radius 12px
			padding 11px 18px
	.upload
		border-radius 0 0 12px 12px
		max-width 606px
		width 75%
		padding 18px
		box-sizing border-box
		border-top 1px solid #d8d8d8
		background #fff
		display none
		@media(max-width 500px)
			width 90%
			max-width 100%
		img
			display block
			width 100%
	.cloumn-two
		max-width 606px
		width 75%
		margin 0 auto
		padding 50px
		font-size 20px
		color #808080
		line-height 40px
		box-sizing border-box
		background #fff
		margin-bottom 16px
		border-radius 12px
		@media(max-width 500px)
			width 90%
			max-width 100%
		input
			padding 5px 6px 5px 8px
			line-height 26px
			border 1px solid #d8d8d8
			border-radius 6px
			width 300px
			outline none
			text-align right
			color #a6a6a6
			&::placeholder
				color #a6a6a6
			&.manager
				border-color #2b6967
		a
			display block
			width 91px
			height 37px
			border-radius 8px
			font-size 15px
			color #fff
			line-height 37px
			text-align center
			background #2b6967
		input[type=file]
			display none
		.df
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			input
				width 50px
			.label
				padding 0 10px
		.row
			margin 8px 0
			flex-direction row
			justify-content space-between
			.upload-url
				img
					display block
					max-width 100%
					width 100%
					
			&:last-child
				margin 0
				padding-bottom 0
	.sex-select
		position absolute
		right 8px
		top 0
		bottom 0
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		font-size 16px
		color #fff
		line-height 38px
		span
			display block
			margin-left 8px
			width 137px
			border-radius 8px
			background #d8d8d8
			text-align center
			transition 0.3s
			cursor pointer
			&:hover
			&.active
				background #2b6967

.manager-4
	display block
	.form
		.cloumn-two
			padding-top 32px
			.row
				border-bottom 1px solid #d8d8d8
				margin 0
				padding 0
				margin-bottom 16px
				&:first-child
				&:last-child
					border-bottom none
					margin 0
				&.bdb
					border-bottom none !important
			.pb50
				padding-bottom 50px
		h3
			font-size 20px
			color #4a4a4a
			font-weight bold
			line-height 28px
		.edit
			width auto
			height auto
			font-size 20px
			color #5486f4
			background none
			line-height 28px
		.label
			font-size 20px
			color #808080
			line-height 50px

.user-1
	.title-wrap
		padding-bottom 110px
		text-align center
		h2
			line-height 40px
			padding 0
			font-size 28px
			color #4a4a4a
			font-weight 500
	.brand
		margin 84px auto 63px
		width 239px
		display block
		img
			width 100%

.user-2,
.user-3
.user-4,
	.title-wrap
		padding 47px 0 40px
		text-align center
		h2
			line-height 40px
			padding 0
			font-size 28px
			color #4a4a4a
			font-weight 500
			.tips
				color #b55561
			&.en
				font-size 25px
	.progress
		text-align center
		.title-wrap
			padding 62px 0 36px
		.progress-bar
			margin 0 auto 16px
			max-width 606px
			width 75%
			height 22px
			border-radius 12.5px
			background #ccc
			overflow hidden
			@media(max-width 500px)
				width 90%
				max-width 100%
			.bar
				height 100%
				border-radius 12.5px
				background #2b6967
				width 0
				transition 0.3s
		.value
			font-size 22px
			color #4a4a4a
			line-height 30px
	.radio-wrap
		max-width 606px
		width 75%
		margin 0 auto
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		flex-wrap wrap
		@media(max-width 500px)
			width 90%
			max-width 100%
		.radio
			flex 0 0 48%
			height 185px
			background url('../img/ac44e1d680acc5119298e06ac5c6ce74.png') center center/100% 100% no-repeat
			margin-bottom 28px
			transition 0.3s
			cursor pointer
			&.active
				background-image url('../img/2d99b5c9e693b1d21a2699e175f236bf.png')
				h3
					color #fff
			label
				display block
				width 100%
				height 100%
				position relative
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				align-items center
				justify-content center
				flex-direction column
			input
				position absolute
				top 0
				bottom 0
				left 0
				right 0
				appearance none
				display none
			h3
				font-size 25px
				color #4a4a4a
				line-height 36px
			.en
				font-size 20px
				line-height 28px
	.textarea
		position relative
		max-width 606px
		width 75%
		margin 0 auto 16px
		padding 20px
		height 229px
		background #fff
		box-sizing border-box
		border-radius 12px
		cursor text
		@media(max-width 500px)
			width 90%
			max-width 100%
		&.active
			&:before
			&:after
				display none
		&:before
			position absolute
			top 20px
			left 20px
			font-size 19px
			color #a6a6a6
			line-height 28px
			content attr(data-cn)
			white-space pre-wrap
			transition 0.3s
		&:after
			position absolute
			top 48px
			left 20px
			font-size 19px
			color #a6a6a6
			line-height 28px
			content attr(data-en)
			white-space pre-wrap
			transition 0.3s
		textarea
			width 100%
			height 100%
			border none
			outline none
			font-size 19px
			color #808080
			line-height 28px
	.brand-list
		max-width 606px
		width 75%
		margin 0 auto 28px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		flex-direction row
		justify-content space-between
		@media(max-width 500px)
			width 90%
			max-width 100%
		.item
			width 110px
			height 110px
			font-size 12px
			line-height 20px
			color #898989
			text-align center
			background url('../img/f78862c1cff13b24f533ac633f68b401.png') center center/100% 100% no-repeat
			cursor pointer
			transition 0.3s
			&.item-1
				.icon
					background-image url('../img/2e286b70050b58756a18fc57acf522d6.png')
				&:hover
				&.active
					.icon
						background-image url('../img/bb408db629dce3b8923501274a739567.png')
			&.item-2
				.icon
					background-image url('../img/492b9438f46bbba2fbdf7305f19217b3.png')
				&:hover
				&.active
					.icon
						background-image url('../img/4faa6370213ebec7e78164261f201d13.png')
			&.item-3
				.icon
					background-image url('../img/c5212ec1d2b25580c33a61910cca4534.png')
				&:hover
				&.active
					.icon
						background-image url('../img/d1d20a0bbb7df1c39aea95725a390ba7.png')
			&.item-4
				.icon
					background-image url('../img/e6c4649ddc678359940d41f29a269837.png')
				&:hover
				&.active
					.icon
						background-image url('../img/cde2c34132db852944b859b823bfb94e.png')
			&.item-5
				.icon
					background-image url('../img/e88247a6ad82687954edb48d19610616.png')
				&:hover
				&.active
					.icon
						background-image url('../img/e5c18cec78cd61b64be335e1efa7ba17.png')
			&:hover
			&.active
				color #fff
				background-image url('../img/bede99cecdf335c07b6fc9d00428981d.png')
			.icon
				width 52px
				height 52px
				margin 18px auto 0
				transition 0.3s
				background url() center center/100% auto no-repeat	
	.form
		.cloumn-two
			padding-top 32px
			&.template-4
				.row+.row
					border-bottom none
			&.active
				&.template-4
					.row+.row
						margin-bottom 15px
						.upload-input-files
							display none
				.row+.row
					border-bottom 1px solid #d8d8d8
					padding-bottom 0
					margin-bottom 24px
					pointer-events none
					input
						border none
			.warning
				display block
				h3
					font-size 20px
					color #4a4a4a
					line-height 28px
					text-align left
					font-weight 500
			.edit
			.done
				height auto
				width auto
				background none
				font-size 20px
				color #5486f4
				line-height 28px
				display none
				&.active
					display block
				span
					display block
			.pb50
				padding-bottom 50px

.layout-touch-no-move
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	display none
.z10
	z-index 10
.z11	
	z-index 11
.regional-selection
.id-selection
	position fixed
	left 0
	right 0
	top 0
	bottom 0
	background #fff
	max-width 800px
	margin 0 auto
	z-index 11
	display none
	@media(max-width 1100px)
		left 0!important
		right 0!important
		top 0!important
		bottom 0!important
	@media(min-width 1099.99px)
		position absolute
		top auto
		bottom auto
		max-width 606px
		width 75%
	.regional-header
	.id-header
		height 92px
		border-bottom 2px solid #d8d8d8
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		.close
			display block
			padding 24px
			width 44px
			height 44px
			background url('../img/c879f5ad292fbc44a13eda547c7975a1.png') center center/44px 44px no-repeat
		.clear
			padding 24px
			font-size 25px
			line-height 44px
			color #2b6967
		@media(min-width 1099.99px)
			display none
	.regional-list
	.id-list
		ul
			height calc(100vh - 500px)
			height calc(100vh - 276px)
			overflow-y scroll
			border-bottom 1px solid #d8d8d8
			-webkit-overflow-scrolling touch
			&::-webkit-scrollbar
				display none
			@media(min-width 1099.99px)
				height 300px
		li
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			align-items center
			justify-content space-between
			padding 20px 45px 20px 90px
			font-size 30px
			color #808080
			line-height 50px
			border-bottom 1px solid #d8d8d8
			@media(min-width 1099.99px)
				padding 10px 20px
				font-size 20px
				line-height 40px
				&.other
					display block
			&:last-child
				border-bottom none
			img
				display block
				height 50px
				@media(min-width 1099.99px)
					height 40px
		.other
			display none
	.regional-other
	.id-other
		padding 24px 24px 0 24px
		@media(min-width 1099.99px)
			display none
		.form
			.input-wrap
				max-width 100%
				width 100%
			.row
				padding-bottom 24px
	.id-list
		ul	
			height calc(100vh - 500px)
			height calc(100vh - 198px)
			@media(min-width 1099.99px)
				height 500px

.layout-full
	position relative
	&:after
		content ""
		position absolute
		left 0
		right 0
		bottom 0
		top 0
	&.sex
		&:after
			right 290px

.number-picker
	position absolute
	max-width 606px
	width 75%
	border-radius 12px
	background-color #ffffff
	box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.15)
	display none
	@media(max-width 1100px)
		position fixed
		top 0!important
		bottom 0!important
		left 0!important
		right 0!important
		width 100%
		max-width 100%
		border-radius 0
	.wrap
		padding-top 20px
		@media(max-width 1100px)
			padding-top 93px
		.row
			padding 0 20px
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			justify-content space-between
			padding-bottom 20px
			font-size 16px
			color rgba(0, 0, 0, 0.65)
			line-height 32px
			@media(max-width 1100px)
				padding 50px 50px 10px
				font-size 24px
				color #808080
				line-height 50px
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				flex-wrap wrap
				flex-direction column
			.text
			.people-number-control
				@media(max-width 1100px)
					flex 0 0 100%
			.text
				@media(max-width 1100px)
					padding-bottom 20px
			.people-number-control
				display -webkit-flex
				display -moz-flex
				display -ms-flex
				display -o-flex
				display flex
				input
					border none
					outline none
					background none
					width 34px
					margin 0 28px
					line-height 30px
					text-align center
					border 1px solid #fff
					&:hover
					&:active
						border-color #ccc
					@media(max-width 1100px)
						line-height 48px
				a
					display block
					height 32px
					width 32px
					background url('../img/7e3177318737c908ebf3bda5afb87bc1.png') center center/100% 100% no-repeat
					&.min
						background-image url('../img/df2c6496aa2f20b85a6317d042db27ca.png')
					@media(max-width 1100px)
						width 50px
						height 50px

// puclic style....
.control-btn
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	padding 20px 0
	border-top 1px solid rgba(0, 0, 0, 0.09)
	@media(max-width 1100px)
		position absolute
		top 0
		left 0
		right 0
		padding 24px
		border-bottom 2Px solid #d8d8d8
		a.enter
			padding 0
			font-size 25px
			line-height 44px
			color #2b6967
		a.clear
			padding 0
			width 44px
			height 44px
			color transparent
			background url('../img/c879f5ad292fbc44a13eda547c7975a1.png') center center/100% 100% no-repeat
	a
		padding 0 20px
		font-size 16px
		color #9b9b9b
		line-height 32px
		&.enter
			color #2b6967
					
// 	.Rectangle-4-Copy-2 {
//   width: 606px;
//   height: 22px;
//   background-color: #cccccc;
// }

